.header{
    background-color: white;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(242, 239, 239);
    z-index: 500;
    font-family: roboto, arial;
    font-size: 500px;

}
.header-left{
display: flex;
align-items: center;
margin-right: 10px

}
.company-logo{
height: 60px;
padding-left: 15px;
border-radius: 22px;
}
.header-right{
display: flex;
justify-content: space-between;
align-items: end;
width: 650px;
padding-left: 30px;
padding-right: 30px;
margin-bottom: 10px;
white-space: nowrap;
}
.home-button{
    background-color: white;
    color: rgb(255, 140, 0);
    padding: 5px;
    border-style: solid;
    border-color: none;
    border-width: 0;
    border-radius: 10px;
    font-family: roboto, arial;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
}
.about-us-button{
    background-color: white;
    color: rgb(255, 140, 0);
    padding: 5px;
    border-style: solid;
    border-color: none;
    border-width: 0;
    border-radius: 10px;
    font-family: roboto, arial;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
}
.projects-button{
    background-color: white;
    color: rgb(255, 140, 0);
    padding: 5px;
    border-style: solid;
    border-color: none;
    border-width: 0;
    border-radius: 10px;
    font-family: roboto, arial;
    font-size: 15px;
    font-weight:bold; 
    cursor: pointer;
}
.products-button{
    background-color: white;
    color: rgb(255, 140, 0);
    padding: 5px;
    border-style: solid;
    border-color: none;
    border-width: 0;
    border-radius: 10px;
    font-family: roboto, arial;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
}
.contact-button{
    background-color: white;
    color: rgb(255, 140, 0);
    padding: 5px;
    border-style: solid;
    border-color: none;
    border-width: 0;
    border-radius: 10px;
    font-family: roboto, arial;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
}
.home-button:hover, .about-us-button:hover, 
.projects-button:hover, .products-button:hover, 
.contact-button:hover{
    opacity: 0.6;
    background-color: rgb(6, 76, 6);
    color: white;
}